.qs-container{
    display: flex;
}
.questions{
    border: 1px solid goldenrod;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.questions h3{
    color: red;
}
.questions p{
    color: lightslategrey;
    line-height: 1.8rem;
    font-size: 17px;
}