nav a img{
    max-width: 70px;
    border-radius: 50%;
}
a.nav-link{
    font-size: 17px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;

}
a.nav-link:hover{
    color: goldenrod;
}